{
  "presets": ["babel-preset-react-app"],
    // 开发环境下配置项
    "env": {
      "development": {
        "plugins": [
          "dynamic-import-node"
        ]
      }
    },
  "plugins": [
    "dynamic-import-node",
    "@babel/plugin-transform-runtime",

    
    [
        "@babel/plugin-proposal-decorators",
        {
            "legacy": true
        }
    ],
    [
        "import",
        {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css"
        }
    ]


  ]
}