npm_config_demo_electron_dependent=7.1.2
npm_config_demo_electron_prebuilt=true
npm_config_demo_electron_platform=darwin
npm_config_demo_electron_msvs_version=2017
npm_config_demo_electron_debug=false
npm_config_demo_electron_silent=false